env/
venv/
__pycache__/
.vscode/
.gcloudignore
**/.DS_Store
fa_auth.json

#vue stuff
node_modules
/dist

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

