<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>FlightCarbon</title>
    <link rel="stylesheet" href="resources/reset.css">
    <link rel="stylesheet" href="resources/leaflet/leaflet.css">
    <link rel="stylesheet" href="resources/main.css">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/tween.js"></script>
    <script src="resources/leaflet/leaflet.js"></script>
    <script src="resources/leaflet/rotatemarker.js"></script>
    <script src="resources/dashboard.js" defer></script>
</head>

<body>
    <div id="app">
        <header>
            <img src="resources/odi-logo.png" width="200px">
            <h1>Leeds' Flight Emissions</h1>
            <ul>
                <li><a href="index.html">home</a></li>
                <li><a href="pages/about.html">about</a></li>
                <li><a href="https://github.com/patricklake2/leeds-flight-emissions">github</a></li>
                <li><a href="https://odileeds.org">odiLeeds</a></li>
            </ul>
        </header>
        <div class="flexbox">
            <bubble v-bind:caption='"flights today"' v-bind:value='numberFlights'></bubble>
            <bubble v-bind:caption='"km travelled"' v-bind:value='distanceTravelled'></bubble>
            <bubble v-bind:caption='"kg of CO2 emissions"' v-bind:value='totalEmissions'></bubble>
        </div>
        <div class="main-holder">
            <v-map v-if="view === 'map'" v-bind:items="flights"></v-map>
            <vtable v-if="view === 'table'" v-bind:columns="['Time','Airport_Name','Emissions']" v-bind:items="flights"></vtable>
            <p v-if="view === 'json'">{{ flights }}</p>
        </div>
        <div class="buttons-holder">
            <button v-on:click="view = 'map'" v-bind:class="{'active':(view === 'map')}">Map</button>
            <button v-on:click="view = 'table'" v-bind:class="{'active':(view === 'table')}">Table</button>
            <button><a v-bind:href="dataUrl">Raw JSON</a></button>
        </div>

    </div>
</body>

</html>