* {
    box-sizing: border-box;
}

body {
    font-family: "Avenir", Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 15px;
}

h1 {
    font-size: 8vmin;
}

header {
    text-align: center;
    margin: 0px;
}

header ul {
    list-style-type: none;
    margin: 10px auto;
    width: 100vw;
}

header li {
    display: inline-block;
    padding: 10px;
    margin: 0px;
    text-align: center;
    width: 120px;
}

a {
    text-decoration: none;
}

a .active {
    font-weight: bold;
}

a:visited {
    color: blue;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100vw;
    margin-top: 20px;
}

.bubble {
    height: 250px;
    width: 250px;
    border-radius: 125px;
    margin: 10px 3vw;
    /* background: radial-gradient(#95edc8, #ffffff); */
    background: radial-gradient(#22cf86, #ffffff);
    text-align: center;
}

.bubble h2 {
    font-size: 70px;
    margin: 90px auto 40px;
    color: white;
}

.bubble p {
    font-size: 15px;
    width: 150px;
    margin: 0px auto;
}

.map-holder {
    width: 100vw;
    text-align: center;
}

#flight-map {
    height: 100vh;
    width: 70vw;
    margin: 0px 15vw;
    display: inline-block;
}

.fixed_headers {
    width: 90vw;
    table-layout: fixed;
    border-collapse: collapse;
    margin: 10px 5vw;
}
.fixed_headers th {
    text-decoration: underline;
    font-weight: bold;
    font-size: 1.5em;
}
.fixed_headers th,
.fixed_headers td {
    padding: 5px;
    text-align: center;
}
.fixed_headers td:nth-child(1),
.fixed_headers th:nth-child(1) {
    min-width: 30vw;
}
.fixed_headers td:nth-child(2),
.fixed_headers th:nth-child(2) {
    min-width: 30vw;
}
.fixed_headers td:nth-child(3),
.fixed_headers th:nth-child(3) {
    width: 30vw;
}
.fixed_headers thead {
    /* background-color: #333333; */
    background-color: #2c3e50;
    color: #fdfdfd;
}
.fixed_headers thead tr {
    display: block;
    position: relative;
}
.fixed_headers tbody {
    display: block;
    overflow: auto;
    width: 100%;
    height: 600px;
}
