# Apache config file to make the url behave as normal when using HTML5 history mode
RewriteEngine On
RewriteBase /projects/flight-emissions/daily/
RewriteRule ^/projects/flight-emissions/daily/index\.html$ - [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /projects/flight-emissions/daily/index.html [QSA,L]
