# This file is to make vue router history mode work (ie. make the url look "real" instead of using a hash)
RewriteEngine On
RewriteBase /projects/flight-emissions/daily/
RewriteRule ^/projects/flight-emissions/daily/index\.html$ - [QSA,L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /projects/flight-emissions/daily/index.html [QSA,L]